// Your custom variable overrides
$theme-colors: (
  "success": #0d7a3f,
  "primary": #1047d3,
  "danger": #cd5354,
  "bootstrap-success": #28a745,
  "bootstrap-primary": #0074d9,
  "bootstrap-danger": #dc3545,
  "dark": #242a30
);

@import "~bootstrap/scss/bootstrap.scss";

$base-color: #222;
$background: #eee;
$dark-background: rgb(37, 42, 58);
$dark-color: #fefefe;
$break-large: 40em;
$nav-width-large: 12.5rem;
$nav-visible-large: 3rem;
$footer-height: 85px;


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $base-color;
}

.nav-vertical {
  min-width: $nav-width-large;
  width: $nav-width-large;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;

  .nav-link {
    &.active {
      filter: brightness(80%);
      border-right: 8px solid rgba(0,0,0,0.5)
    }
  }

  .logged-in {
    position: absolute;
    bottom: $footer-height;
    width: 100%;
  }
}

.content {
  // margin-bottom: $footer-height;
  flex-grow: 1;
  transition: all 0.4s;

  .flashes {
    pointer-events: none;
  }

  .field_with_errors {
      label {
          color: map-get($theme-colors, 'danger');
          font-weight: bold;
      }
      :not(label) {
          border: 2px solid map-get($theme-colors, 'danger');
      }
  }
}
.admin .content {
  width: calc(100% - #{$nav-width-large});
  margin-left: $nav-width-large;
}

/* for toggle behavior */
#sidebarCollapse.navbar-toggle {
  padding: 0.5em;

  .arrow {
    display: none;
  }
  .cross {
    display: inline-block;
  }
}


#sidebar {
  z-index: 99;

  .menu-icon {
    float: none;
    padding: 1rem;
  }
  #sidebarCollapse.navbar-toggle {
    .arrow {
      display: none;
    }
    .cross {
      display: inline-block;
    }
  }
}
#sidebar.active {
  margin-left: -$nav-width-large + $nav-visible-large;

  .menu-icon {
    float: right;
    padding: 0rem;
  }
  .nav-link.active {
    .menu-icon {
      margin-right: -8px;
    }
  }
  #sidebarCollapse.navbar-toggle {
    .arrow {
      display: inline-block;
    }
    .cross {
      display: none;
    }
  }
}

#content.active {
  margin-left: $nav-visible-large;
  width: calc(100% - #{$nav-visible-large});
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -$nav-width-large + $nav-visible-large;
    .menu-icon {
      float: right;
      padding: 0;
    }
    .nav-link.active {
      .menu-icon {
        margin-right: -8px;
      }
    }
    #sidebarCollapse.navbar-toggle {
      .arrow {
        display: inline-block;
      }
      .cross {
        display: none;
      }
    }
  }
  #sidebar.active {
    margin-left: 0;
    .menu-icon {
      float: none;
      padding: 1rem;
    }
    #sidebarCollapse.navbar-toggle {
      .arrow {
        display: none;
      }
      .cross {
        display: inline-block;
      }
    }
  }
  #content {
    margin-left: $nav-visible-large;
    width: calc(100% - #{$nav-visible-large});
  }
  #content.active {
    margin-left: $nav-visible-large;
    width: calc(100% - #{$nav-visible-large});
  }  // #content.active {
  //   margin-left: $nav-width-large;
  //   width: calc(100% - #{$nav-width-large});
  // }
}

.page {
  max-width: 980px;
  margin: 20px auto;
}

.counter {
  border: 1px solid white;
}

// table {
//   table-layout: fixed;
//   @include media-breakpoint-up(sm) {
//     table-layout: auto;
//   }

//   th {
//     overflow: hidden;
//   }

//   td {
//     margin: 0 auto;
//     text-align: center;
//   }
// }

// input {
//   &.product-price {
//     width: 2em !important;
//   }
// }

.debug {
  color: rgba($background, .6);
  font-style: italic;

  p {
    margin-bottom: 0;
  }
}

main.container {
  padding-bottom: 3em;
}

.footer {
  width: 100%;
  height: $footer-height;
  color: $background;
  overflow: auto;
  padding: 0.5em 2em;
  text-align: center;
  z-index: 100;
}


html {
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: $base-color;

  &.nav-link,
  &.page-link,
  &.btn, &.button,
  &.navbar-brand {
    text-decoration: none;
  }
}

// Custom bootstrap behavior on alerts
.alert {
  pointer-events: auto;
}


// Autocomplete JS custom CSS
#autoComplete_list {
  position: absolute;
  top: 100%;
  width: 100%;
  padding-left: 0;

  li {
    cursor: pointer;
  }
}

.autoComplete_result {
  text-align: left;
}
