<%= render partial: "import_modal" %>

<h1><%= t('groups.index.title') %></h1>

<div class="row mt-3">
 <div class="col-sm-6">
   <%= form_with method: "get" do |form| %>
     <div class="input-group mb-3">
       <%= form.text_field :search, placeholder: t('groups.index.buttons.search'), value: @search, class: "form-control" %>
       <div class="input-group-append">
         <%= form.submit("🔎", class: 'btn btn-outline-secondary input-group-text', id: 'button-addon2') %>
       </div>
     </div>
   <% end %>
  </div>
  <div class="col-sm-6">
    <div class="dropdown float-sm-right mb-3">
      <% if can?(:destroy, Group) %>
        <%= button_tag(type: "submit",
                       data: { confirm: "Are you sure ?" },
                       form: "delete_groups_form",
                       class: "btn btn-sm btn-outline-danger") do %>
          Delete groups
        <% end %>
      <% end %>

      <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#importGroupMembersModal">
        <%= t('members.index.buttons.import') %>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if @groups.present? %>
      <%= form_with id:"delete_groups_form", url: batch_groups_url, method: :delete do |f| %>
        <div class="table-responsive-sm">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"><%= t('activerecord.models.group.attributes.name') %>
                  <%= order_link(:name, order: @order) %>
                </th>
                <th scope="col"><%= t('activerecord.models.group.attributes.description') %>
                </th>
                <th scope="col"><%= t('activerecord.models.group.attributes.created_at') %>
                  <%= order_link(:created_at, order: @order) %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @groups.each do |group| %>
                <tr class="clickable-row">
                  <th scope="row"><%= f.check_box 'group_ids[]', {}, group.id, nil %></th>
                    <td>
                      <%= link_to group.name, group_url(group) %>
                      <small>(<%= group.current_members.count %>)</small>
                    </td>
                    <td><%= group.description %></td>
                    <td><%= l group.created_at, format: :short %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-6">
          </div>
          <div class="col-6">
            <% if can?(:create, Group) %>
              <%= link_to "➕ #{t('groups.index.buttons.create')}",
                          new_group_path,
                          class: 'btn btn-sm btn-outline-primary float-right' %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <b>
        <% if @search.blank? %>
          <%= t('groups.index.empty') %>
        <% else %>
          <%= t('groups.index.empty_search', search: @search) %>
        <% end %>
      </b>
    <% end %>
  </div>
</div>

<%= render partial: "shared/pagination",
    locals: {
      collection: @groups,
      current_page: @page,
      link_params: @index_params,
      per_page: @limit,
      offset: @offset,
      total: @total
    }
%>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
