<div class="container">
  <%= form_with model: [registration], local: true, class: "row" do |form| %>
    <fieldset class="col-12">
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :start_at, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.date_select :start_at, class: "form-control" %>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :end_at, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.date_select :end_at, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label(:public, class: "col-form-label") do %>
            <%= t('activerecord.attributes.registration.public') %>
            <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="<%= t('registrations.new.public_checkbox_help') %>">?</span>
          <% end %>
        </div>
        <div class="col-md-9">
          <div class="form-check">
            <%= form.check_box :public, class: "form-check-input" %>

          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label(:quantity, class: "col-form-label") %>
          <span class="badge badge-secondary" data-toggle="tooltip" data-placement="right" title="<%= t('registrations.new.quantity_checkbox_help') %>">?</span>
        </div>
        <div class="col-md-9">
          <div class="form-check">
            <%= form.number_field :quantity, class: "form-check-input" %>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset class="col-12">
      <div class="form-group row">
        <div class="col-md-10">
          <%= form.submit nil, class: 'btn btn-primary' %>
          <%= link_to I18n.t('back'), session[:return_to], class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
