<% if flash.present? %>
<div class="flashes row justify-content-center fixed-top mt-3">
  <div class="col-sm-4 m-3">
    <% flash.each do |name, msgs| -%>
      <% [msgs].flatten.each do |msg| %>
        <%= content_tag :div, class: "alert alert-#{flash_to_bootstrap_alert(name)} fade show", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msg.try(:html_safe) %>
        <% end %>
      <% end %>
    <% end -%>
  </div>
</div>
<% end %>
