<div class="footer l-box bg-dark">
  <p class="small">
    <%= t('footer.signature') %>
  </p>

  <% if Rails.env.development? %>
    <div class="small debug">
      <% if content_for(:debug) %>
        <%= yield(:debug) %>
      <% end %>
    </div>
  <% end %>
</div>
