<nav class="nav-vertical navbar-dark bg-success" id="sidebar">
  <button id="sidebarCollapse" class="bg-success text-light navbar-toggle close" type="button">
    <span class="cross" aria-hidden="true">&laquo;</span>
    <span class="arrow" aria-hidden="true">&raquo;</span>
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>

  <p class="font-weight-bold text-uppercase px-3 small pb-4 mb-0">
    <%= link_to(Rails.application.routes.url_helpers.root_path, class: "navbar-brand") do %>
      <%= club_name %>
    <% end %>
  </p>

  <div class="nav flex-column bg-success mb-0">
    <%= render("shared/nav-item", locals: {icon: "🏡", path: Rails.application.routes.url_helpers.root_path}) do %>
      <%= t('nav.home') %>
    <% end %>
    <% if can?(:manage, Member) %>
      <%= render("shared/nav-item", locals: {icon: "👨‍👩‍👧‍👦", path: members_path}) do %>
        <%= t('nav.members') %>
      <% end %>
    <% end %>
    <% if can?(:index, Group) %>
      <%= render("shared/nav-item", locals: {icon: "🧰", path: groups_path}) do %>
        <%= t('nav.groups') %>
      <% end %>
    <% end %>
    <% if can?(:index, Registration) %>
      <%= render("shared/nav-item", locals: {icon: "📅", path: registrations_path}) do %>
        <%= t('nav.registrations') %>
      <% end %>
    <% end %>
    <% if can?(:index, Setting) %>
      <%= render("shared/nav-item", locals: {icon: "🛠️", path: settings_path}) do %>
        <%= t('nav.settings') %>
      <% end %>
    <% end %>
  </div>

  <div class="logged-in text-white">
    <div class="nav flex-column bg-success mb-0">
      <% if current_user.present? %>
        <%= render("shared/nav-item", locals: {icon: emoji_sexe(current_user.sexe), path: member_path(current_user)}) do %>
          <span class="font-italic font-weight-lighter"><%= t('nav.connected') %></span>
          <h5 class="m-0 font-weight-bolder"><%= current_user.name %></h5>
        <% end %>
        <%= render("shared/nav-item", locals: {icon: "🚪️", path: send(Passwordless.mounted_as).sign_out_path})  do %>
          <%= t('nav.sign_out') %>
        <% end %>
      <% else %>
        <%= render("shared/nav-item", locals: {icon: "➡️", path: send(Passwordless.mounted_as).sign_in_path}) do %>
          <%= t('nav.sign_in') %>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
