<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div>
        <% if current_user.present? %>
          <h1><%= t('index.title', first_name: current_user.first_name.capitalize) %></h1>
          <% if @registration.present? %>
            <% end_at = h(l(@registration.end_at, format: :long)) %>
            <% if current_user.candidate?  %>
              <p><%= t('index.registration_still_ongoing',
                       end_at: end_at).html_safe %></p>
            <% else %>
              <p><%= t('index.registration_open') %></p>
            <% end%>
          <% else %>
            <p><%= t('index.description') %></p>
          <% end %>
        <% else %>
          <h1><%= t('unlogged_index.title', club_name: club_name) %></h1>
          <p><%= t('unlogged_index.description_html', href: link_to(t("nav.sign_in"), send(Passwordless.mounted_as).sign_in_path)) %></p>

          <% if @registration.present? %>
            <% # force HTML escape (with the 'h' method) of potential user inputs %>
            <% # because we set the resulting translation as 'html_safe' %>
            <% start_at = h(l(@registration.start_at, format: :long)) %>
            <% end_at = h(l(@registration.end_at, format: :long)) %>
            <% quantity = h(@registration.quantity) %>

            <% if @member.new_record? %>
              <h2><%= t('unlogged_index.registration_open_title') %></h2>
              <p>
                <%= t(
                      'unlogged_index.registration_open',
                      start_at: start_at,
                      end_at: end_at,
                      quantity: quantity
                    ).html_safe %>
              </p>

              <%= render partial: "members/form", locals: {
                         form_destination: {model: [@member], url: register_members_path },
                         permitted_attributes: Member::CREATION_FIELDS
                         }
              %>
            <% else %>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= t('unlogged_index.registration_saved') %></h5>
                  <p><%= t('unlogged_index.registration_summary') %></p>
                  <div class="row">
                    <div class="col-md-6">
                      <legend><%= t('members.new.basic_detail') %></legend>
                      <p><strong><%= t('activerecord.attributes.member.first_name')%>:</strong> <%= @member.first_name %></p>
                      <p><strong><%= t('activerecord.attributes.member.last_name')%>:</strong> <%= @member.last_name %></p>
                      <p><strong><%= t('activerecord.attributes.member.sexe')%>:</strong> <%= @member.sexe %></p>
                      <p><strong><%= t('activerecord.attributes.member.date_of_birth')%>:</strong> <%= @member.dob %></p>
                    </div>
                    <div class="col-md-6">
                      <legend><%= t('members.new.contact') %></legend>

                      <p><strong><%= t('activerecord.attributes.member.email')%>:</strong> <%= @member.email %></p>
                      <p><strong><%= t('activerecord.attributes.member.phone')%>:</strong> <%= @member.phone %></p>
                      <p><strong><%= t('activerecord.attributes.member.address')%>:</strong> <%= @member.address %></p>
                      <p><strong><%= t('activerecord.attributes.member.zipcode')%>:</strong> <%= @member.zipcode %></p>
                      <p><strong><%= t('activerecord.attributes.member.city')%>:</strong> <%= @member.city %></p>
                    </div>
                  </div>

                  <h5>t('unlogged_index.registration_next_steps_title')</h5>
                  <p>
                    <%= t('unlogged_index.registration_next_steps',
                          end_at: end_at,
                          quantity: quantity).html_safe %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
