<%= render "passwordless/shared/info" do %>
  <% if current_user.present? %>
    <%= t('members.sign_in.already_signed_in_html', href: link_to(t('members.sign_in.already_signed_in_link'), root_path)) %>
  <% else %>
    <%= form_for @session, url: send(Passwordless.mounted_as).sign_in_path do |f| %>
      <% email_field_name = :"passwordless[#{@email_field}]" %>
      <div class="input-group input-group-lg mt-3 mb-3">

        <%= text_field_tag email_field_name, params.fetch(email_field_name, nil), placeholder: 'Your Email', class: "form-control" %>
        <div class="input-group-append">
          <%= f.submit I18n.t('passwordless.sessions.new.submit'), class: 'btn btn-secondary' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= t('members.sign_in.more_description_html', expire_in: ActiveSupport::Duration.build((Passwordless.timeout_at.call - Time.current).round).inspect) %>
<% end %>

<% content_for :debug do %>
  <p><%= t('footer.debug.find_me', file: __FILE__) %></p>
<% end %>
