<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head", title: "#{club_name}" %>
  </head>

  <body class="admin">
    <div class="content" id="content">
      <%= render "shared/nav" %>

      <div class="container page">
        <%= render "shared/flashes" %>

        <div class="row">
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render "shared/footer" %>
  </body>
</html>
