<div class="modal fade" id="exportMembersModal" tabindex="-1" role="dialog" aria-labelledby="exportMembersModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exportMembersModalTitle"><%= t('members.index.modals.export.title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('members.index.modals.export.buttons.cancel') %></button>
        <%= link_to request.query_parameters.merge(format: 'csv', export: 'all'), class: "btn btn-outline-primary" do %>
          <%= t('members.index.modals.export.buttons.export_all') %>
        <% end %>
        <%= link_to request.query_parameters.merge(format: 'csv'), class: "btn btn-primary" do %>
          <%= t('members.index.modals.export.buttons.export') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
