<div class="container">
  <%= form_with **form_destination.merge(local: true, class: "row") do |form| %>
    <fieldset class="col-md-6">
      <legend><%= t('members.new.basic_details') %></legend>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :first_name, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.text_field :first_name, class: "form-control", disabled: !permitted_attributes.include?(:first_name) %>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :last_name, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.text_field :last_name, class: "form-control", disabled: !permitted_attributes.include?(:last_name) %>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <%= form.label :sexe, class: "col-form-label pt-0" %>
          </div>
          <div class="col-md-9">
            <div class="form-check">
              <%= form.radio_button :sexe, :male, class: "form-check-input", disabled: !permitted_attributes.include?(:sexe) %>
              <%= form.label :sexe, :male, value: :male, class: "form-check-label" %>
            </div>
            <div class="form-check">
              <%= form.radio_button :sexe, :female, class: "form-check-input", disabled: !permitted_attributes.include?(:sexe) %>
              <%= form.label :sexe, :female, value: :female, class: "form-check-label" %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :date_of_birth, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.date_field :dob, start_year: 1900, end_year: Time.current.year, class: "form-control", disabled: !permitted_attributes.include?(:dob) %>
        </div>
      </div>

      <% if current_user&.admin? %>
      <div class="form-group row">
        <div class="col-md-3">
          <%= form.label :family, class: "col-form-label" %>
        </div>
        <div class="col-md-9">
          <%= form.collection_select :parent_id, Member.accessible_by(current_ability).all, :id, :name, {include_blank: true}, {class: "form-control", disabled: !permitted_attributes.include?(:parent_id)} %>
        </div>
      </div>
      <!-- <div class="form-group row"> -->
      <!--   <div class="col-md-3"> -->
      <!--     <%= form.label :workflow_state, class: "col-form-label" %> -->
      <!--   </div> -->
      <!--   <div class="col-md-9"> -->
      <!--     <%= form.select :workflow_state, Member.workflow_spec.states.keys, {include_blank: false}, {class: "form-control", disabled: !permitted_attributes.include?(:workflow_state)} %> -->
      <!--   </div> -->
      <!-- </div> -->
      <% end %>
    </fieldset>

    <fieldset class="col-md-6">
      <legend><%= t('members.new.contact') %></legend>

      <div class="form-group row">
        <div class="col-md-2">
          <%= form.label :email, class: "col-form-label" do %>

          <span class="badge badge-danger" data-toggle="tooltip" data-placement="right" title="<%= t('members.new.email_warning') %>"><%= t('activerecord.attributes.member.email') %> ⚠️</span>
          <% end %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :email, class: "form-control", disabled: !permitted_attributes.include?(:email) %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2">
          <%= form.label :phone, class: "col-form-label" %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :phone, class: "form-control", disabled: !permitted_attributes.include?(:phone) %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2">
          <%= form.label :address, class: "col-form-label" %>
        </div>
        <div class="col-md-10">
          <%= form.text_area :address, class: "form-control", disabled: !permitted_attributes.include?(:address) %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2">
          <%= form.label :zipcode, class: "col-form-label" %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :zipcode, class: "form-control", disabled: !permitted_attributes.include?(:zipcode) %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2">
          <%= form.label :city, class: "col-form-label" %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :city, class: "form-control", disabled: !permitted_attributes.include?(:city) %>
        </div>
      </div>
    </fieldset>

    <fieldset class="col-12">
      <div class="form-group row">
        <div class="col-md-10">
          <%= form.submit nil, class: 'btn btn-primary' %>
          <%= link_to 'Back', session[:return_to], class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
